*{
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
}

h1, h2{
    margin: 0;
}

/*below is for the top most or header section of the page*/
div.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.5rem + 2.5vw) calc(0.5rem + 9vw);
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero-head.hero{
    padding: calc(0.5rem + 0.7vw) calc(0.5rem + 9vw);
}

.hero-head > div{
    display: flex;
}

.header-logo > h1{
    font-size: calc(0.7rem + 1.5vw);
    color:#F9FAF8;
}

.header-links > a{
    margin: 0 10px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: calc(0.5rem + 0.8vw);
}

/*below is for the rest of the hero*/
.hero-main > div{
    max-width: 35vw;
}

.hero-main > div.text{
    display: flex;
    flex-direction: column;
    /* padding: 0.5vw; */
}

div.text > h1{
    font-size: calc(1.5 * (0.7rem + 1.5vw));
    color: #F9FAF8;
    font-weight: 800;
    margin: 10px 0;
}

div.text > p{
    font-size: calc(0.5rem + 0.8vw);
    color: #E5E7EB;
    margin: 10px 0;
}

div.text > button{
    font-size: calc(0.5rem + 0.8vw);
    color: #F9FAF8;
    background-color: #3382F6;
    height: calc(1.5rem + 1.25vw);
    width: calc(3rem + 5vw);
    border-radius: 12px;
    border-color: #1F2937;
}

.hero-main > div.image{
    display: flex;
    padding: 0.5vw;
    /* max-height: 20vw;
    max-width: 35vw; */
}

div.image > img{
    max-height: 100%;
    max-width: 100%; 
    object-fit: contain;
}

/* below is for the white section beneath the hero */
.card-info{
    font-size: calc(1.25 * (0.35rem + 2vw));
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: calc(0.5rem + 2.5vw) 0;
}

.card-container{
    display:flex;
    font-size: calc(0.5rem + 0.8vw);
    justify-content: space-around;
    align-items: center;
    padding: calc(0.5rem + 2.5vw) calc(1rem + 12vw);
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 calc(0.1rem + 1vw);
    color: #1F2937;
    text-align: center;
}

.block{
    width: 15vw;
    height: 15vw;
    border: 0.4vw;
    border-style: solid;
    border-color: #3382F6;
    border-radius: calc(0.5rem + 0.8vw);
}

/*Below is for the quote section beneath white section*/
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: calc(1.25 * (0.35rem + 2vw));
    font-style: italic;
    justify-content: center;
    align-items: end;
    padding: calc(0.5rem + 2.5vw) calc(1rem + 12vw);
}

.quote > p{
    margin: 0;
}

.author{
    font-size: calc(0.3rem + 2vw);
    font-style: normal;
    font-weight: bold;
    position: relative;
    bottom: 1vw;
    right: 2vw;
}

/*Below is for the call to action section*/
.CTA-section{
    padding: calc(0.5rem + 2vw) calc(1rem + 10vw);
}

.CTA-section > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3382F6;
    border-radius: calc(0.5rem + 0.8vw);
    padding: calc(0.4rem + 2vw) calc(1.2rem + 6vw);
}

.CTA-text > p{
    font-size: calc(0.5rem + 0.8vw);
    text-wrap: pretty;
    color:#E5E7EB;
    margin: 0;
}

.CTA-text > p.declaration{
    font-size: calc(0.3rem + 2vw);
    font-weight: bold;
    margin:0.5vw 0;
}

.CTA > button{
    background-color: #3382F6;
    border-style: solid;
    border-color:#E5E7EB;
    color:#E5E7EB;
    border-radius: 8px;
    height: calc(1rem + 1.25vw);
    width: calc(3rem + 5vw);
}

/*Below is for the footer*/
footer{
    background-color: #1F2937;
    padding: 0; /*temporary*/
    text-align: center;
}

footer > a{
    color:#E5E7EB;
    text-decoration: none;
}

@media(max-width: 850px){ /*main image still looks awkward but too lazy to play around with*/
    .hero-main{
        flex-direction: column;
    }
    .hero-main > div.image{
        padding-top: 5vw;

    }
    .hero-main > div{
        max-width: none;
        width: 75vw;
    }
}