*{
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
}

h1, h2{
    margin: 0;
}

/*below is for the top most or header section of the page*/
div.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.5rem + 2.5vw) calc(0.5rem + 9vw);
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero-head.hero{
    padding: calc(0.5rem + 0.7vw) calc(0.5rem + 9vw);
}

.hero-head > div{
    display: flex;
}

.header-logo > h1{
    font-size: calc(0.7rem + 1.5vw);
    color:#F9FAF8;
}

.header-links > a{
    margin: 0 10px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: calc(0.5rem + 0.8vw);
}

/*below is for the rest of the hero*/
.hero-main > div{
    max-width: 28vw;
}

.hero-main > div.text{
    display: flex;
    flex-direction: column;
    /* padding: 0.5vw; */
}

div.text > h1{
    font-size: calc(1.5 * (0.7rem + 1.5vw));
    color: #F9FAF8;
    font-weight: bold;
    margin: 10px 0;
}

div.text > p{
    font-size: calc(0.5rem + 0.8vw);
    color: #E5E7EB;
    margin: 10px 0;
}

div.text > button{
    font-size: calc(0.5rem + 0.8vw);
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3382F6;
    height: calc(1.5rem + 1.25vw);
    width: calc(3rem + 5vw);
    border-radius: 12px;
}

.hero-main > div.image{
    display: flex;
    padding: 0.5vw;
    max-height: 20vw;
    max-width: 35vw;
}

div.image > img{
    max-height: 100%;
    max-width: 100%; 
    object-fit: contain;
}
/*FIXME: add media query for image size at max-width*/